:root{
  --primary-color: #f8f1f1;
  --secondary-color: #ffa62b;
  --tertiary-color: #db6400;
  --quaternary-color: #16697a;
  --primary-color-filter: #f8f1f16c;
  --quaternary-color-filter: #16697aa8;
  font-family: Poppins, sans-serif;
}
*{
  margin: 0px;
}

a{
  text-decoration: none;
  color:inherit
}

#master-grid{
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: auto auto auto;
  gap: 15px;
}
/*---------------------------PORTRAIT PHOTO--------------------------*/

#portrait-frame{
grid-row: 1;
grid-column: 1/ span 3;
height: 100vh;
width: 100vw;
overflow: hidden;
}

#portait-photo{
 position: relative;
 background-image:linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
    url('./resources/images/tailgate.jpg');
 height: 100%;
 width: 100%;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 display: flex;
 justify-content: center;
 align-items: center;
}

#welcome-box{
height: 12vh;
width: 20vh;
border-radius: 1vh;

display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
border: 2px var(--tertiary-color) solid;
padding: 3vh;
color: var(--primary-color);
font-weight: 600;
font-size: 1.1em;
line-height: 1.7em;
}

#see-more{
  padding: 1vh;
  margin-top: 1vh;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border-radius: .5vh;
}



/*---------------------------PORTRAIT PHOTO--------------------------*/
/*--------------------------NAVBAR--------------------------------*/



nav{
  grid-column: 1/ span 3;
  grid-row: 2;
  height: 3em;
}

#nav-container{
  display: grid;
  grid-template-columns: 30% 40% 30%;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  height: inherit;
}

.nav-item{
  padding: 1em
}

.nav-item:hover{
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}

#nav-left{
height: inherit;
display: inline-flex;
align-items: center;
justify-content: left;
}

#nav-logo{
  height: inherit;
  margin: 0px 10px;
}

#personal-icon{
  height: 100%;
}


#nav-middle{

}

#nav-right{

}

/*--------------------------------------MAIN------------------------------------------*/

main{
  grid-column: 2;
  grid-row: 3;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border: 3px var(--secondary-color) solid;
  box-shadow: 3px 3px 2px 1px var(--tertiary-color);
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
}

.card{
  position: relative;
  border: 15px var(--tertiary-color) solid;
  width: 40%;
  margin: 20px;
  background-color: var(--primary-color);
}

.card-title{
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 1rem 0em;
  border-bottom: 2px var(--tertiary-color) solid;
}

.card-photo-frame{
  display: flex;
  justify-content: center;
}

.card-photo{
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 80%;
  max-width: 100%;
  min-height: 300px;
  max-height: 70%;
}

#full-stack-photo{
  background-image: url("resources/images/card-photo-1.png");
  
}