:root {
  --primary-color: #f8f1f1;
  --secondary-color: #d2f7e9;
  --tertiary-color: #db6400;
  --quaternary-color: #16697a;
  --primary-color-filter: #f8f1f16c;
  --secondary-color-filter: #d2f7e993;
  --tertiary-color-filter: #db630069;
  --quaternary-color-filter: #16697a8c;
  --nav-height: 96px;
  font-family: Poppins, sans-serif;
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

* {
  margin: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  height: inherit;
}

ul {
  list-style: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#master-grid {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: auto var(--nav-height) auto auto auto;
  /* gap: 15px; */
  overflow: hidden;
}

.external-link{
  color: var(--tertiary-color);
}

.external-link:hover{
text-decoration: underline;}

/*---------------------------PORTRAIT PHOTO--------------------------*/

.modal {
  grid-row: 1/ span 3;
  grid-column: 1 span / 3;
  position: fixed;
  background: var(--quaternary-color-filter);
  height: 100%;
  width: 100%;
  z-index: 200;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portrait-frame {
  grid-row: 1;
  grid-column: 1/ span 3;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#portait-photo {
  position: relative;
  background-image: linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
    url('./resources/images/tailgate.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-box {
  height: 12vh;
  width: 20vw;
  /* border-radius: 1vh; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px var(--tertiary-color) solid;
  padding: 3vh;
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.2em;
  line-height: 1.7em;
  text-align: center;
}

#see-more {
  padding: 1vh;
  margin-top: 1vh;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border-radius: .5vh;
}

#see-more:hover {
  color: var(--quaternary-color);
  background-color: var(--primary-color);
}



/*---------------------------PORTRAIT PHOTO--------------------------*/
/*-----------------------------NAVBAR--------------------------------*/



nav {
  grid-column: 1 / span 3;
  grid-row: 2;
  height: 4em;
  padding: 1em 0em;
  background-color: var(--primary-color);
  z-index: 100;
  width: 100%;
  box-shadow:  5px 5px 5px var(--quaternary-color)
}

#nav-container {
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  height: inherit;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 8fr 1fr;

}

.nav-item {
  padding: 1em;
  height: inherit;
  display: inline-flex;
  align-items: center;
}

.nav-item:hover {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
}

.nav-items {
  grid-column: 2;
  width: inherit;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding: 0em 8px;
  
}




#contact-info {
  /* justify-self: flex-end; */
}

#nav-logo {
  height: inherit;

}

#nav-icon {
  grid-column: 1;
  height: inherit;
  padding: 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-icon:hover {
  background-color: var(--primary-color);
}

.personal-icon {
  height: inherit;
  position: relative;
}

.burger-menu {
  display: none;
}


/*--------------------------------------ABOUT------------------------------------------*/

about {
  grid-column: 2;
  grid-row: 3;
  color: var(--primary-color);
  background-color: var(--quaternary-color);
  border: 3px var(--tertiary-color) solid;
  /* box-shadow: 3px 3px 2px 1px var(--tertiary-color); */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}

.card {
  position: relative;
  border: 15px var(--tertiary-color) solid;
  width: 40%;
  margin: 20px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 5em 12em auto;
  cursor: pointer;
}

.card-clicked {
  grid-template-rows: 5em 25em auto;
  width: 50%;
  height: auto;
}

.card-title {
  background-color: var(--quaternary-color);
  color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.8em;
  grid-row: 1;
  box-sizing: border-box;
  border-bottom: 3px var(--tertiary-color) solid;

}

.card-photo-frame {
  grid-row: 2;
  width: 100%;
}

.card-photo {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border-bottom: 2px var(--tertiary-color) solid;
}

.card-text-box {
  grid-row: 3;
  position: relative;
  padding: 1em;
  color: var(--quaternary-color);
  display: inline-flex;
  height: 100%;
  align-items: middle;
  font-size: 1.2em;
}

#full-stack-photo {
  background-image: linear-gradient(to bottom, var(--tertiary-color-filter), var(--tertiary-color-filter)),
    url('resources/images/prgramming_banner.jpg');
}

#army-vet-photo {
  background-image: linear-gradient(to bottom, var(--tertiary-color-filter), var(--tertiary-color-filter)),
    url('resources/images/army-vet.jpeg');
}

/*-------------------------------PROJECTS------------------------------------*/

projects{
  grid-row: 4;
  grid-column: 2;
  height: 100vh;
  color: var(--quaternary-color);
  display: grid;
  grid-template-rows: min-content auto;
  /* box-shadow: 3px 3px 2px 1px var(--tertiary-color); */

}

#project-header{
  height: 4em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  grid-row: 1;
}

/* ------------------------------------------Carousel---------------------------------------------- */

.wrapper{
  grid-row: 2;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--quaternary-color);
  box-sizing: border-box;
  border: 3px var(--tertiary-color) solid;
}

/* .wrapper:before,
.wrapper:after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	width: 20%;
	height: 100%;
	z-index: 3;
} */

.wrapper:before {
	left: 0;
	/* background: linear-gradient(to right, var(--secondary-color) 0%, rgba(0,0,0,0) 100%); */
}

.wrapper:after {
	right: 0;
	/* background: linear-gradient(to left, var(--secondary-color) 0%, rgba(0,0,0,0) 100%); */
}



.carousel {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 90%;
  background-color: var(--secondary-color);
  touch-action: pan-y;

}

.card-count-inactive{
display: none;
}

.card-count-active{
  display: none;
  }

.carousel-button{
  position: absolute;
	top: 50%;
	z-index: 4;
	width: 50%;
	height: 100%;
	transform: translateX(-50%) translateY(-50%) scale(.8);
	cursor: pointer;
}

#project-button-next{
	left: 100%;

}
#project-button-prev{
  left: 0;

}

.project-card:nth-child(2) {
	left: 0;
	z-index: 1;
	transform: translate(-100%, 50%) scale(.8);
}

.project-card:nth-child(3) {
	left: 0;
	z-index: 2;
	transform: translate(-50%, 50%) scale(.8);
}

.project-card:nth-child(4) {
	left: 50%;
	z-index: 4;
	transform: translate(-50%, 50%) scale(1);
}

.project-card:nth-child(5) {
	left: 100%;
	z-index: 2;
	transform: translate(-50%, 50%) scale(.8);
}

.project-card:nth-child(n+6) {
	left: 100%;
	z-index: 1;
	transform: translate(0%, 50%) scale(.8);
}

.project-card{
  position: absolute;
  width: 45%;
  height: 60%;
  transition: 1s all ease;
  border: 15px var(--quaternary-color) solid;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: minmax(4em, 5em) minmax(4em, 12em) auto;
  cursor: pointer;
  margin:20px;
  bottom: 50%;
}

.project-card-title{
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 1.8em;
  grid-row: 1;
  box-sizing: border-box;
  border-bottom: 3px var(--quaternary-color) solid;
}

.project-photo{
  grid-row: 2;

}

#project-card-1{
  background-image: linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
  url('resources/images/Brocial-Network1.png');
}
#project-card-2{
  background-image: linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
    url('resources/images/prgramming_banner.jpg');
}
#project-card-3{
  background-image: linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
    url('resources/images/prgramming_banner.jpg');
}
#project-card-4{
  background-image: linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
    url('resources/images/prgramming_banner.jpg');
}
#project-card-5{
  background-image: linear-gradient(to bottom, var(--quaternary-color-filter), var(--quaternary-color-filter)),
    url('resources/images/prgramming_banner.jpg');
}

.project-card-body{
  grid-row: 3;
  position: relative;
  padding: 1em;
  background-color: var(--primary-color);
  color: var(--quaternary-color);
  align-items: middle;
  font-size: 1.2em;
  border-top: 2px var(--quaternary-color) solid;

}

/* --------------------------------------------Contact------------------------------------------------------- */

contact{
  grid-row:5;
  grid-column: 2;
  height:  4em;
}

#contact-bar{
  position: relative;
  height: inherit;
  background-color: var(--tertiary-color);
  color: var(--primary-color)

}

#contact-items{
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.contacts{
  width:100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  
}

.contact-item .contact-link{
  position: relative;
  display:flex;
  align-items: center;
}

#contact-title{
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.contact-item{
  height: 90%;
  display: flex;
  align-items: center;

}
#alt-icon{
height: 105%;
}


.contact-icon{
  position: relative;
  height: inherit;
  width: inherit;
}
/*-----------------------------Screen Width 1024---------------------------------*/

@media (max-width: 1024px) {


  #master-grid {
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: auto var(--nav-height) auto auto auto;

  }

  #welcome-box {
    width: 40vw;
    padding: 5vh;
    line-height: 1.7em;
    font-size: 1em;
  }

  about {
    box-sizing: border-box;
  }

  .card {
    min-width: 350px;
    width: 100%;
  }

  
  .wrapper:before {
    left: 0;
    /* background: linear-gradient(to right, var(--secondary-color) 0%, rgba(0,0,0,0) 100%); */
  }
  
  .wrapper:after {
    right: 0;
    /* background: linear-gradient(to left, var(--secondary-color) 0%, rgba(0,0,0,0) 100%); */
  }
  
  
  
  .carousel {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 90%;
    background-color: var(--secondary-color);
  }
  
  .carousel-button-hidden{
    display: none;
  }

  .card-count-active{
    display: unset;
    background-color: var(--quaternary-color-filter);
    color: var(--primary-color);
    position: absolute;
    top: 1%;
    left: 1%;
    padding: .5em;
    border-radius: .2em;
    z-index: 5;
  }

  .card-count-inactive{
    display: none;
  }

  .carousel-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 45%;
    z-index: 4;
    width: 6vw;
    height: 6vw;
    background-color: var(--quaternary-color-filter);
    cursor: pointer;

  }
  
  #project-button-next{
    background-color: var(--quaternary-color-filter);
    transform: translateX(-115%);

  }

 .inner-project-button-next{
  transform: translateX(25%);
  border-top: 2vw solid transparent;
  border-left: 2vw solid var(--primary-color-filter);
  border-bottom: 2vw solid transparent;

 }
  #project-button-prev{
    background-color: var(--quaternary-color-filter);
    transform: translateX(15%);
  }

  .inner-project-button-prev{
    transform: translateX(-25%);
    border-top: 2vw solid transparent;
    border-right: 2vw solid var(--primary-color-filter);
    border-bottom: 2vw solid transparent;
  }
  
  .project-card:nth-child(2) {

    transform: translate(-100%, 50%) scale(.8);
  }
  
  .project-card:nth-child(3) {
    left: -100%;
    z-index: 2;
    transform: translate(-50%, 50%) scale(.8);
  }
  
  .project-card:nth-child(4) {
    transform: translate(-50%, 50%) scale(1);
  }
  
  .project-card:nth-child(5) {
    transform: translate(0%, 50%) scale(.8);
  }
  .project-card:nth-child(n+6) {
    transform: translate(50%, 50%) scale(.8);
  }

  
  .project-card{
    width: 70%;
    height: 90%;
    margin: 0px;
    bottom: 50%;
  }
  



}


/*-----------------------------Screen Width 512---------------------------------*/


@media (max-width: 512px) {


  #master-grid {
    grid-template-columns: 100%;
    grid-template-rows: auto 66px auto auto auto;

  }

  #portrait-frame {
    grid-row: 1;
    grid-column: 1;
  }

  #welcome-box {
    font-size: .7em;
  }

  nav {
    grid-column: 1;
    grid-row: 2;
    height: 3em;
    padding: .5em 0px;
    width: 100%;
    border-bottom: 2px var(--quaternary-color) solid;
    box-shadow: none;
  }

  #nav-container {
    display: flex;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    height: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

  }



  .nav-item {
    padding: 1em;
    height: 2em;
  }

  .nav-item:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
  }

  .nav-items {
    grid-column: 1;
    position: relative;
    right: -100%;
    display: none;
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: space-evenly;
    background: var(--primary-color);
    height: 100vh;
    bottom:0%;
    border-bottom: 5px var(--tertiary-color) solid;

  }

  .nav-active{
    transition: transform 0.5s ease-in;
    transform: translateX(-100%);
    display: flex;
  }

  .nav-inactive{
    transition: transform 0.5s ease-in;
    transform: translateX(0%);
    

    /* transform: height(0%); */
    /* display: none; */
  }

  #nav-logo {
    height: inherit;
    margin: 0px 10px;
  }

  #personal-icon {
    height: 100%;
  }

  #nav-icon {
    height: inherit;
  }

  .burger-menu {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    background-color: inherit;
    right: 8vw;
  }

 


  .line {
    height: 5px;
    width: 40px;
    background-color: var(--quaternary-color);
    margin: 3px;
    border-radius: 1px;
  }

  .line1 {
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform 0.25s ease-in;
  }


  @keyframes lineappear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .line2 {
    animation: lineappear .15s step-end;
  }

  .line3 {
    transform: rotate(0deg) translate(0px, 0px);
    transition: transform 0.25s ease-in;
  }


  .toggle .line1 {
    transform: rotate(45deg) translate(0px, 16px);
    transition: transform 0.25s ease-in;
  }

  @keyframes linedisappear {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .toggle .line2 {
    animation: linedisappear 0s step-end;
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(-45deg) translate(0px, -16px);
    transition: transform 0.25s ease-in;
  }

  about {
    grid-row: 3;
    grid-column: 1;
    width: 100%;
    border: none;
    box-shadow: none;
  }

  .card {
    border: 5px var(--tertiary-color) solid;
    min-width: 200px;
    margin: 0px;
    display: grid;
    grid-template-rows: 5em 12em auto;

  }


  .card-title {
    font-size: 1.2em;
  }

  .card-text-box {
    font-size: 1em;
    grid-row: 3;
    height: fit-content;
    display: inline-flex;

  }

  projects{
    grid-column: 1;
    height: 100vh;
    /* box-shadow: 3px 3px 2px 1px var(--tertiary-color); */
  
  }
  


  .wrapper{
    grid-row: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--secondary-color);
    box-sizing: border-box;
    border: 3px var(--quaternary-color) solid;
  }
  

  .wrapper:before {
    left: 0;
    /* background: linear-gradient(to right, var(--secondary-color) 0%, rgba(0,0,0,0) 100%); */
  }
  
  .wrapper:after {
    right: 0;
    /* background: linear-gradient(to left, var(--secondary-color) 0%, rgba(0,0,0,0) 100%); */
  }
  
  
  
  .carousel {
    height: 100%;
  }

  .carousel-button{
    top: 50%;
    z-index: 4;
    width: 6vh;
    height: 6vh;
    border-radius: 0px;
  }



  
  #project-button-next{
    background-color: var(--quaternary-color-filter);
    transform: translateX(-115%);

  }

 .inner-project-button-next{
  transform: translateX(25%);
  border-top: 2vh solid transparent;
  border-left: 2vh solid var(--primary-color-filter);
  border-bottom: 2vh solid transparent;

 }
  #project-button-prev{
    background-color: var(--quaternary-color-filter);
    transform: translateX(15%);
  }

  .inner-project-button-prev{
    transform: translateX(-25%);
    border-top: 2vh solid transparent;
    border-right: 2vh solid var(--primary-color-filter);
    border-bottom: 2vh solid transparent;
  }
  
  
  
  .project-card:nth-child(2) {
    left: 0;
    z-index: 1;
    transform: translate(-100%, 50%) scale(1);
  }
  
  .project-card:nth-child(3) {
    left: 0;
    z-index: 1;
    transform: translate(-100%, 50%) scale(1);
  }
  
  .project-card:nth-child(4) {
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 50%) scale(1);
  }
  
  .project-card:nth-child(5) {
    left: 100%;
    z-index: 1;
    transform: translate(0%, 50%) scale(1);
  }
  
  .project-card:nth-child(n+6) {
    z-index: 1;

    transform: translate(50%, 50%) scale(1);
  }
  
  .project-card{
    width: 100%;
    height: 100%;
    margin:0px;
    transition: .5s all ease;

  }
  
  
  .project-photo{
    grid-row: 2;
  
  }

  .project-card-body{
    grid-row: 3;
    position: relative;
    padding: 1em;
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    align-items: middle;
    font-size: 1em;
    border-top: 2px var(--quaternary-color) solid;
  }
  .carousel-button{
    top: 50%;
    z-index: 4;
    width: 7vh;
    height: 7vh;
  }
  



  contact{
    grid-row:5;
    grid-column: 1;
    height:  3em;
  }


}